<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../redux.html">
<link rel="import" href="../../../bower_components/i18n-element/i18n-element.html">
<link rel="import" href="./<%= name %>-styles.html">

<dom-module id="<%= name %>">
    <template>
        <style include="<%= name %>-styles"></style>
        <h1 id="message-key">message-value</h1>
        <h2>[[prop1]]</h2>
    </template>
    <script src="./<%= name %>.js"></script>
</dom-module>
